<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!--
---- Clean html template by http://WpFreeware.com
---- This is the main file (index.html).
---- You are allowed to change anything you like. Find out more Awesome Templates @ wpfreeware.com
---- Read License-readme.txt file to learn more.
-->	

	<head>
		<title>Bienvenue sur <%= link_to Blogo.config.site_title, blogo_root_path %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Oswald Font -->
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
                <%= stylesheet_link_tag "blogo/tooltipster" %>
		<!-- home slider-->
                <%= stylesheet_link_tag "blogo/pgwslider" %>
		<!-- Font Awesome -->
                <%= stylesheet_link_tag "blogo/font-awesome.min" %>
                <%= stylesheet_link_tag "blogo/stylee" %>
                <%= stylesheet_link_tag "blogo/responsive" %>
	</head>

	<body>
	
		<section id="header_area">
			<div class="wrapper header">
                                       <div class="clearfix header_top">
					<div class="clearfix logo floatleft">
                                        <img src="https://gallery.mailchimp.com/ec472603d6602713509eb364a/images/0b458b53-4445-4dbc-95a5-e0f81b2949ad.jpg" height="70%" width="70%">
					</div>
					<div class="a" style="float:right; margin-top:30px;">
						<form>
                                                <h1> Bienvenue sur <%= link_to Blogo.config.site_title, blogo_root_path %></h1>
						</form>
					</div>
				</div>
				<div class="header_bottom">
					<nav>
						<ul id="nav">
							<li><%= link_to Blogo.config.site_title, blogo_root_path %></li>
							<li><%= link_to Blogo.config.site_url %> Accueil Site</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
		
		<section id="content_area">
			<div class="clearfix wrapper main_content_area">
			
				<div class="clearfix main_content floatleft">
				
					
                                            <%= yield %>
					
				</div>
				<div class="clearfix sidebar_container floatright">
				        <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58f5e053e60d2b70"></script> 
					<div class="clearfix sidebar">
						<div class="clearfix single_sidebar">
							<div class="popular_post">
								<div class="sidebar_title"><h2>Posts Récents</h2></div>
									<% if @recent_posts %>
                 <ul class="blogo-recent-posts">
                 <% @recent_posts.each do |post| %>
                <li>
                <%= link_to post.title, blogo_post_path(post) %>
                </li>
                <% end %>
              <% end %>

                                                                       </a></li>
								</ul>
							</div>
							</div>
						<div class="clearfix single_sidebar category_items">
							<h2> Blogo.config.site_icon on Facebook</h2>
								<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=183265711823162";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
          
<div class="facebook-box">
   <div class="fb-page" data-href="<%= "https://www.facebook.com/#{Blogo.config.facebook_username}" %>" data-tabs="timeline" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="<%= "https://www.facebook.com/#{Blogo.config.facebook_username}" %>" class="fb-xfbml-parse-ignore"><a href="<%= "https://www.facebook.com/#{Blogo.config.facebook_username}" %>">#{Blogo.config.facebook_username}</a></blockquote></div>
    </span>
  </div>

						</div>
						<div class="clearfix single_sidebar">
							<h2> Blogo.config.site_icon on Twitter</h2>
							<ul>
								<li><a class="twitter-timeline" data-height="400" href="<%= "https://twitter.com/#{Blogo.config.twitter_username}" %>" >Tweets by #{Blogo.config.twitter_username} </a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
                                                                <li><%= link_to "Follow @#{Blogo.config.twitter_username}", "http://twitter.com/#{Blogo.config.twitter_username}", class: 'twitter-follow-button', data: { button: 'blue', :'text-color' => '#ffffff', :'link-color' => '#ffffff', width: '224px'} %>

                                                               
                         				</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="footer_top_area">
			<div class="clearfix wrapper footer_top">
				<div class="clearfix footer_top_container">
					<div class="clearfix single_footer_top floatleft">
                                                        <h2>Visitez Blogo.config.site_icon </h2>
                                                        <p>Plateforme de financement participatif dédiée aux pays du Sud</p>
                                        </div>
				</div>
			</div>
		</section>
		
		<section id="footer_bottom_area">
			<div class="clearfix wrapper footer_bottom">
				<div class="clearfix copyright floatleft">
					<p> Copyright &copy; All rights reserved by <span><%= link_to Blogo.config.site_title, blogo_root_path %></span></p>
				</div>
				<div class="clearfix social floatright">
					<ul>
						Designed by Justin Butera
					</ul>
				</div>
			</div>
		</section>
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>	
		<script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>		
		<script type="text/javascript">
			$(document).ready(function() {
				$('.tooltip').tooltipster();
			});
		</script>
		 <script type="text/javascript" src="js/selectnav.min.js"></script>
		<script type="text/javascript">
			selectnav('nav', {
			  label: '-Navigation-',
			  nested: true,
			  indent: '-'
			});
		</script>		
		<script src="js/pgwslider.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.pgwSlider').pgwSlider({
					
					intervalDuration: 5000
				
				});
			});
		</script>
		<script type="text/javascript" src="js/placeholder_support_IE.js"></script>
		
<!--
---- Clean html template by http://WpFreeware.com
---- This is the main file (index.html).
---- You are allowed to change anything you like. Find out more Awesome Templates @ wpfreeware.com
---- Read License-readme.txt file to learn more.
-->	

<!-- Go to www.addthis.com/dashboard to customize your tools -->
 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58f5e053e60d2b70">
</script> 
		
	</body>
</html>

